.imagesGallery-container{
    display: flex;
    flex-direction: column;
    flex:1;
    overflow: scroll;
    max-height: 85vh ;
}

.imagesGallery-image{
    width: 35vw;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.loader-wrapper{
    justify-content: center;
    display: flex;
    width: 25vw;
}