DB_HOST=example.mongodb.net
DB_USER=admin-example
DB_PASSWORD=password-example
DB_NAME=example
SENTRY_DSN=example
SMTP_PASSWORD=example
SMTP_USERNAME=example@email.com
SMTP_SERVER=smtp.email.com
SMTP_PORT=587
SMTP_SECURE=1
SMTP_RECEIVERS=reciver1@email.com, reciver2@email.com
