.text-area-input {
    flex: 3 1;
    border: 1px solid rgb(204 204 204);
    border-radius: 5px;
    font-size: 1em;
    padding: 5px;
    margin: 5px 0;
    height: 150px;
}

.text-area-container{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
        flex:1
}

.input-label{
    font-size: 1em;
    flex:1;
    margin-right: 10px;
    min-width: 80px;
}