.recipeFormContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.formItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    flex: 1;
    min-width: 350px;
}

.dynamicFormContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.dynamicForm {
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 10px;
    border: 1px dotted rgb(66, 103, 172);
    border-radius: 10px;
    width: 100%;
    align-items: flex-start;

}