.ingredientsShowContainer{
    display: flex;
    flex-direction: column;
    min-width: 370px;
    align-items: center;
    font-size: 1em;
    align-items: start;
    flex:1;
    padding-left: 40px;
}

.showAreaContainer{
    display: flex;
    flex-direction: row;
}

.showAreaAmount{
    font-size: 1em;
    align-self: center;
    padding-left: 5px;
}