.icon-button-container{
    background-color: transparent;
    border: none;
    padding: 5px 10px;;
    margin: 15px;
    font-size: 1em;
}

.button-icon{
    width: 25px;
    height: 25px;
    scale: 1.3;
}

.icon-button-container:hover{
    scale: 1.1;
}