
.select {
    flex:3;
    font-size: 1em;
    margin: 5px 0;
}

.select-container{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-label{
    font-size: 1em;
    flex:1;
    margin-right: 10px;
}