.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.mainContainer-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}