.showInstructionsContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px;

}

.showInstructionItemContainer {
    display: flex;
    border: 1px solid gainsboro
}

.showInstructionItem {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.showInstructionContent {
    font-size: 1em;
    text-wrap: wrap;
    max-width: 600px;
    min-width: 100px;
}