.fileInput-container {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.fileInput {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 2px 3px 2px 0px rgb(88 87 87 / 55%);
    background-image: linear-gradient(90deg, rgb(235 140 252) 5%, rgb(179 173 254) 54%, rgb(142 227 255) 95%);
    cursor: pointer;
}