.icon-button-container{
    background-color: transparent;
    border: none;
    padding: 5px 10px;;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
}

.icon{
    width: 23px;
    height: 23px;
}

.big-icon{
    width: 35px;
    height: 35px;
}

.icon-button-container:hover{
    scale: 1.1;
}